[Unit]
Description=[%N] Periodic Kopia snapshot

[Timer]
OnCalendar=*-*-* 8..23:00:00
Persistent=true
# WakeSystem=true
# RandomizedDelaySec=1200
# Unit=backup-kopia-@ecc.service

[Install]
WantedBy=timers.target